In [18]:
import pandas as pd
pd.options.mode.chained_assignment=None

In [19]:
covid=pd.read_csv('us-states.csv')

In [20]:
covid.shape

(4744, 5)

In [21]:
covid.head()

         date       state  fips  cases  deaths
0  2020-01-21  Washington    53      1       0
1  2020-01-22  Washington    53      1       0
2  2020-01-23  Washington    53      1       0
3  2020-01-24    Illinois    17      1       0
4  2020-01-24  Washington    53      1       0

In [22]:
state='Georgia'
covid_state=covid[covid.state==state]
covid_state['daily_cases']=covid_state['cases']-covid_state['cases'].shift(1)
covid_state['daily_deaths']=covid_state['deaths']-covid_state['deaths'].shift(1)
covid_state=covid_state.fillna(0)

In [23]:
covid_state.tail(20)

            date    state  fips  cases  deaths  daily_cases  daily_deaths
3654  2020-05-08  Georgia    13  31089    1378        565.0          46.0
3709  2020-05-09  Georgia    13  31481    1380        392.0           2.0
3764  2020-05-10  Georgia    13  32267    1383        786.0           3.0
3819  2020-05-11  Georgia    13  32448    1420        181.0          37.0
3874  2020-05-12  Georgia    13  33311    1470        863.0          50.0
3929  2020-05-13  Georgia    13  33866    1494        555.0          24.0
3984  2020-05-14  Georgia    13  34422    1521        556.0          27.0
4039  2020-05-15  Georgia    13  35242    1563        820.0          42.0
4094  2020-05-16  Georgia    13  35655    1573        413.0          10.0
4149  2020-05-17  Georgia    13  35954    1584        299.0          11.0
4204  2020-05-18  Georgia    13  36634    1624        680.0          40.0
4259  2020-05-19  Georgia    13  37214    1650        580.0          26.0
4314  2020-05-20  Georgia    13  38162    1672        948.0          22.0
4369  2020-05-21  Georgia    13  38969    1749        807.0          77.0
4424  2020-05-22  Georgia    13  39734    1779        765.0          30.0
4479  2020-05-23  Georgia    13  40408    1794        674.0          15.0
4534  2020-05-24  Georgia    13  40989    1799        581.0           5.0
4589  2020-05-25  Georgia    13  41414    1820        425.0          21.0
4644  2020-05-26  Georgia    13  42066    1867        652.0          47.0
4699  2020-05-27  Georgia    13  42713    1904        647.0          37.0

In [ ]:

covid_state.daily_deaths.plot.bar()